# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Dependências
node_modules/

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/

# Ambiente
.env
.env.local
